p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}
.nama {
  font-weight: bold;
  margin-bottom: 10px;
}
.akun {
  color: gray;
  font-weight: lighter;
}
.twit {
  margin-bottom: 20px;
}
.akun-2 {
  color: rgb(12, 128, 252);
}
