body {
  height: 3000px;
}

div {
  background-color: gray;
  height: 180px;
  width: 320px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.close {
  background-color: black;
  color: white;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  align-items: center;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  font-family: arial;
  font-size: 14px;
}
